.solution-box {
  border: 1px solid hsl(217, 71%, 53%);
  .entry {
    .entry-header {
      margin-bottom: 0;
      .column {
        padding-bottom: 0;
      }
    }
    .entry-title {
      margin-bottom: 0;
      .created-at {
        text-align: left;
      }
      .code {
      }
    }
    .entry-content {
      height: 0;
      .CodeMirror {
        height: 0;
      }
      .created-at p {
      }
    }

    ul.is-expand {
      height: auto;
      .CodeMirror {
        height: 500px;
      }
      .created-at p {
      }
    }
  }
}

.CodeMirror {
  font-size: 14px;
}
